x-default: &default
  restart: unless-stopped
  networks:
  - common
  depends_on:
    python_base:
      condition: service_completed_successfully
    auth_app_backend:
      condition: service_started


services:
  nginx:
    <<: *default
    image: nginx:alpine3.21

    volumes:
    - ./configs/nginx.conf:/etc/nginx/nginx.conf:ro
    - ./configs/config:/etc/nginx/conf.d:ro
    ports:
    - 80:80

networks:
  common:
    name: common
